.menu {
	-webkit-user-select:none;
	background: white;
	color:rgb(60,60,60);
	font-size: 13px;
	font-family: arial;
	border:1px solid rgba(0,0,0,.4);
}
.menu>.lens {
	position: absolute;
	left:0;
	right:0;
	background: #D9EAFF;
	background: -webkit-linear-gradient(top, #D2E7FF, #9BC8FF);
	transition: top 70ms ease-in-out;
	-webkit-transition: top 70ms ease-in-out;
}