.menu {
    -webkit-user-select:none;
    background: white;
    color:rgb(60,60,60);
    font-size: 14px;
    font-family: Verdana;
    border:1px solid rgba(0,0,0,.4);
    border-radius: 3px;
    position: relative;
}
div.tip .tip-inner {
    background: rgb(50,50,50);
    color: #fff;
    padding: 0;
    display: inline-block;
}
.menu .focus-lens {
    position: absolute;
    left:0;
    right:0;
    background: #D9EAFF;
    background: -webkit-linear-gradient(top, #D2E7FF, #9BC8FF);
    transition: top 60ms ease-in;
    -webkit-transition: top 100ms ease-out;
}
div.tip {
    padding: 0;
    box-shadow: -2px 2px 10px 0 rgba(0,0,0,.1);
    -webkit-user-select:none;
}
div.tip .tip-arrow {
    display: none;
}